@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,700;1,100&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: "poppins", "sans-serif";
  color: #fff;
  background: rgb(2,0,36);
  background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(9,51,19,1) 79%, rgba(0,33,1,1) 100%);
}

#timer {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.timer-container {
  font-size: 4em;
}

.timer-container span {
  white-space: nowrap;
}

#content {
  opacity: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#content h1 {
  font-size: 10vmax;
  transform: scale(1.25);
}

#content.visible {
  opacity: 1;
  animation: colorChange 1s ease-in-out 0.5s forwards;
}

#content.visible h1 {
  animation: scaleOut 1s ease-in-out 0.5s forwards;
}

.img{
    height: 200px;
    width: 400px;
    margin-top: 50px;
 
}

footer {
  bottom: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
  background-color: #000000;
  color: #1d4c8e;
}

footer a {
  color: #60c8d8;
  text-decoration: none;
}

footer .heart {
  color: #dc143c;
}

@keyframes colorChange {
  from {
    color: #fc0058;
    background: rgb(18,147,238);
background: linear-gradient(124deg, rgba(18,147,238,1) 8%, rgba(19,18,31,1) 100%);
  }
  to {
    color: white;
    background: rgb(242,94,159);
    background: radial-gradient(circle, rgba(242,94,159,1) 0%, rgba(148,187,233,1) 100%);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}
